@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-fam-primary: #FC004E;
  --color-fam-secondary: #10CBE0;
  --color-fam-sale-banner: #1A9F43;
  --color-fam-sparkle: #FFD700;
  --color-fam-text-light: #FFFFFF;
  --color-fam-text-gray: #ABABAB;
  --color-fam-nav: #A9A9A9;
  --color-fam-dark-bg: #010101;
  --color-fam-accent-cyan: #00E7F9;

  --gradient-sale-banner: linear-gradient(90deg, var(--color-fam-primary) 0%, var(--color-fam-secondary) 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree), Arial, Helvetica, sans-serif;
}

.sale-banner-bg {
  background-image: linear-gradient(90deg, #FC004E 0%, #10CBE0 100%);
}

.text-shadow {
  text-shadow: 0 4px 4px #FC004E;
}